<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="quizDaoFile" class="ru.otus.spring.homework0105.dao.impl.QuizDaoFileImpl">
        <constructor-arg index="0">
            <util:constant static-field="ru.otus.spring.homework0105.dao.impl.QuizDaoFileImpl.QUIZ_FILENAME"/>
        </constructor-arg>
        <constructor-arg index="1">
            <util:constant static-field="ru.otus.spring.homework0105.dao.impl.QuizDaoFileImpl.QUIZ_AMOUNT_OF_COLUMNS"/>
        </constructor-arg>
    </bean>

    <bean id="quizRunner" class="ru.otus.spring.homework0105.service.impl.QuizRunnerImpl">
        <constructor-arg index="0" ref="quizDaoFile"/>
        <constructor-arg index="1" ref="quizIoServiceConsole"/>
    </bean>

    <bean id="quizIoServiceConsole"
          class="ru.otus.spring.homework0105.service.impl.QuizIoServiceConsoleImpl">
        <constructor-arg index="0">
            <util:constant static-field="java.lang.System.in"/>
        </constructor-arg>
    </bean>

</beans>
